<section class="fireContainer">

  <div class="party" (click)="startParty()" class="party">
    <img src="../../../assets/party.png" alt="">
  </div>
  <div class="message">
    <img src="../../../assets/shooting.png" alt="">
    <div>
      <h3>Make a wish and Click here!</h3>
      <p>Nothing exciting is gonna happen, but your wish may come true!</p>
    </div>
  </div>

  <div class="cardContainer">

    <div class="star1 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">

      <div class="cardBg">
        <div class="flip-card">
          <div class="flip-card-inner" [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null}"
            [ngClass]="{'rotate1':rotate=='a'}">

            <div class="flip-card-front">
              <div class="cardfront card">
                <img src="../../../assets/joker.png" alt="">
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src={{cardContent[0].imgage}} alt="" class="photo">
                <div style="display: flex;justify-content: space-between;">
                  <p class="heading">{{cardContent[0].caption}}</p>
                  <div style="display: flex;">
                    <img id="0" class="camera" src="../../../assets/camera.png" alt="" #f1 (click)=changeContent(f1)>
                    <img src="../../../assets/pin.png" alt="" class="camera"
                      style="margin-left: 10px !important; width: 0.9rem !important;">
                  </div>
                </div>
                <p class="para">{{cardContent[0].message}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="star2 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="cardBg1">
        <div class="flip-card">
          <div class="flip-card-inner"
            [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null, 'transition-delay':party == true ? '0.5s' : null }"
            [ngClass]="{'rotate1':rotate=='b'}">
            <div class="flip-card-front">
              <div class="cardfront card">
                <img src="../../../assets/joker.png" alt="">
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src={{cardContent[1].imgage}} alt="" class="photo">
                <div style="display: flex;justify-content: space-between;">
                  <p class="heading">{{cardContent[1].caption}}</p>
                  <div style="display: flex;">
                    <img id="1" class="camera" src="../../../assets/camera.png" alt="" #f2 (click)=changeContent(f2)>
                    <img src="../../../assets/pin.png" alt="" class="camera"
                      style="margin-left: 10px !important; width: 0.9rem !important;">
                  </div>
                </div>
                <p class="para">{{cardContent[1].message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="star3 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="cardBg">
        <div class="flip-card">
          <div class="flip-card-inner"
            [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null, 'transition-delay':party == true ? '1s' : null }"
            [ngClass]="{'rotate1':rotate=='c'}">
            <div class="flip-card-front">
              <div class="cardfront card">
                <img src="../../../assets/joker.png" alt="">
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src={{cardContent[2].imgage}} alt="" class="photo">
                <div style="display: flex;justify-content: space-between;">
                  <p class="heading">{{cardContent[2].caption}}</p>
                  <div style="display: flex;">
                    <img id="2" class="camera" src="../../../assets/camera.png" alt="" #f3 (click)=changeContent(f3)>
                    <img src="../../../assets/pin.png" alt="" class="camera"
                      style="margin-left: 10px !important; width: 0.9rem !important;">
                  </div>
                </div>
                <p class="para">{{cardContent[2].message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="star4 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="cardBg1">
        <div class="flip-card">
          <div class="flip-card-inner"
            [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null,'transition-delay':party == true ? '1.5s' : null }"
            [ngClass]="{'rotate1':rotate=='c'}">
            <div class="flip-card-front">
              <div class="cardfront card">
                <img src="../../../assets/joker.png" alt="">
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img id="3" src={{cardContent[3].imgage}} alt="" class="photo">
                <div style="display: flex;justify-content: space-between;">
                  <p class="heading">{{cardContent[3].caption}}</p>
                  <div style="display: flex;">
                    <img id="3" class="camera" src="../../../assets/camera.png" alt="" #f4 (click)=changeContent(f4)>
                    <img src="../../../assets/pin.png" alt="" class="camera"
                      style="margin-left: 10px !important; width: 0.9rem !important;">
                  </div>
                </div>
                <p class="para">{{cardContent[3].message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-firework *ngIf="party==true"></app-firework>


  <app-campfire [party]="party"></app-campfire>
</section>