<section class="fireContainer">

  <div class="party" (click)="startParty()" class="party">
    <img src="../../../assets/party.png" alt="">
  </div>
  <div class="message">
    <img src="../../../assets/shooting.png" alt="">
    <div>
      <h3>Make a wish and "phook" do.</h3>
      <p>If that doesn't work find pataka!</p>
    </div>
  </div>

  <div class="cardContainer">

    <div class="star1 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">

      <div class="cardBg">
        <div class="flip-card">
          <div class="flip-card-inner" [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null }">

            <div class="flip-card-front">
              <div class="cardfront card">
                <div>
                  <hr>
                  <p class="heading">some text</p>
                  <hr>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src="../../../assets/cakeBackground.jpeg" alt="">
                <p class="heading">some text</p>
                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="star2 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="cardBg">
        <div class="flip-card">
          <div class="flip-card-inner"
            [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null, 'transition-delay':party == true ? '0.5s' : null }">
            <div class="flip-card-front">
              <div class="cardfront card">
                <div>
                  <hr>
                  <p class="heading">some text</p>
                  <hr>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src="../../../assets/cakeBackground.jpeg" alt="">
                <p class="heading">some text</p>
                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="star3 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="cardBg">
        <div class="flip-card">
          <div class="flip-card-inner"
            [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null, 'transition-delay':party == true ? '1s' : null }">
            <div class="flip-card-front">
              <div class="cardfront card">
                <div>
                  <hr>
                  <p class="heading">some text</p>
                  <hr>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src="../../../assets/cakeBackground.jpeg" alt="">
                <p class="heading">some text</p>
                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="star4 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="cardBg">
        <div class="flip-card">
          <div class="flip-card-inner"
            [ngStyle]="{'transform':party == true ? 'rotateY(180deg)' : null, 'transition-delay':party == true ? '1.5s' : null }">
            <div class="flip-card-front">
              <div class="cardfront card">
                <div>
                  <hr>
                  <p class="heading">some text</p>
                  <hr>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card">
                <img src="../../../assets/cakeBackground.jpeg" alt="">
                <p class="heading">some text</p>
                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-firework *ngIf="party==true"></app-firework>


  <app-campfire [party]="party"></app-campfire>
</section>