<section class="fireContainer">

  <img src="../../../assets/party.png" (click)="startParty()" class="party" alt="">

  <h3>Make a wish and "phook" do.</h3>

  <div class="cardContainer">

    <div class="star1 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">


      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="cardfront card">
              <div>
                <hr>
                <p class="heading">some text</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card">
              <img src="../../../assets/cakeBackground.jpeg" alt="">
              <p class="heading">some text</p>
              <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="star2 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="cardfront card">
              <div>
                <hr>
                <p class="heading">some text</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card">
              <img src="../../../assets/cakeBackground.jpeg" alt="">
              <p class="heading">some text</p>
              <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="star3 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="cardfront card">
              <div>
                <hr>
                <p class="heading">some text</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card">
              <img src="../../../assets/cakeBackground.jpeg" alt="">
              <p class="heading">some text</p>
              <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="star4 star">
      <img class="starImg" src="../../../assets/star.png" alt="">
      <img src="../../../assets/beat1.png" class="beat" alt="">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="cardfront card">
              <div>
                <hr>
                <p class="heading">some text</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card">
              <img src="../../../assets/cakeBackground.jpeg" alt="">
              <p class="heading">some text</p>
              <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eveniet quidem culpa!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-firework *ngIf="party==true"></app-firework>

  <div class="strip"></div>

  <app-campfire [party]="party"></app-campfire>
</section>