.background {
    height: 100%;
    background-image: url("../../../assets/landing-stars.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
h3 {
    font-family: Avenir Light;
    color: white;
    /* margin-top:40%; */
}