<section class="giftContainer">

  <div class="slotContainer">

    <h3>Let's get You A Gift <img src="../../../assets/gift.png" alt="" class="gift"></h3>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, nulla animi sit eius libero porro similique, a
      voluptatum ab ea vitae!</p>


    <div class="slotMachineWrapper">

      <div class="slotMachine">
        <img src="../../../assets/pizza.png" #pizza alt="pizza" class="slotIcon">
      </div>

      <div class="slotMachine">
        <img src="../../../assets/popcorn.png" #popcorn alt="popcorn" class="slotIcon">
      </div>

      <div class="slotMachine">
        <img src="../../../assets/strawberry.png" #strawberry alt="strawberry" class="slotIcon">
      </div>

    </div>

    <button class="spinBtn" (click)="spin()">Click to Spin!</button>

  </div>

  <div class="footer">
    <p>Created with <img src="../../../assets//heart.png" alt=""> <span class="bold">@ Ximi Hoque</span></p>
  </div>

</section>