<section class="container">

  <section class="giftContainer" [ngClass]="{'blur':showGift==true}">


    <div class="slotContainer">

      <h3>Let's get You A Gift <img src="../../../assets/gift.png" alt="" class="gift"></h3>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, nulla animi sit eius libero porro similique, a
        voluptatum ab ea vitae!</p>


      <div class="slotMachineWrapper">

        <div class="slotMachine">
          <img src="../../../assets/pizza.png" #pizza alt="pizza" class="slotIcon">
        </div>

        <div class="slotMachine">
          <img src="../../../assets/popcorn.png" #popcorn alt="popcorn" class="slotIcon">
        </div>

        <div class="slotMachine">
          <img src="../../../assets/strawberry.png" #strawberry alt="strawberry" class="slotIcon">
        </div>

      </div>

      <button class="spinBtn" [disabled]="disabelBtn==true ? true : false" (click)="spin()"
        [ngClass]="{'disabelBtn':disabelBtn==true}">Click to Spin!</button>

    </div>

    <div class="footer">
      <p>Created with <img src="../../../assets//heart.png" alt=""> <span class="bold">@ Ximi Hoque</span></p>
    </div>

  </section>

  <section class="formContainer" *ngIf="showGift==true">

    <div class="form">
      <div class="heading">
        <h3>Really?</h3>
        <img src="../../../assets/thinking.png" alt="">
      </div>

      <p class="para">
        {{
          questionArray[selectedQuestion].question
        }}
      </p>

      <div class="inputContainer">
        <input type="text" placeholder="Enter your answer here" #f>
        <span class="placeholder">Think twice!</span>
      </div>
      <img class="lock" src={{lockSrc[selectedLockImg]}} alt="" (click)="onSubmit(f)"
        [ngClass]="{'shakelock':shakelock==true}">

    </div>

    <div class="footer">
      <p>Created with <img src="../../../assets//heart.png" alt=""> <span class="bold">@ Ximi Hoque</span></p>
    </div>

  </section>

</section>