<section class="container">

  <section class="giftContainer" [ngClass]="{'blur':showGift==true}">


    <div class="slotContainer">

      <h3>Let's get You A Gift <img src="../../../assets/gift.png" alt="" class="gift"></h3>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, nulla animi sit eius libero porro similique, a
        voluptatum ab ea vitae!</p>


      <div class="slotMachineWrapper">

        <div class="slotMachine">
          <img src="../../../assets/pizza.png" #pizza alt="pizza" class="slotIcon">
        </div>

        <div class="slotMachine">
          <img src="../../../assets/popcorn.png" #popcorn alt="popcorn" class="slotIcon">
        </div>

        <div class="slotMachine">
          <img src="../../../assets/strawberry.png" #strawberry alt="strawberry" class="slotIcon">
        </div>

      </div>

      <button class="spinBtn" [disabled]="disabelBtn || spinning" (click)="spin()"
        [ngClass]="{'disabelBtn':disabelBtn==true}">
        <span *ngIf="!disabelBtn" [ngStyle]="{'visibility': spinning==true ? 'hidden':'visible'}">
          Click to Spin!
        </span>
        <span *ngIf="disabelBtn" [ngStyle]="{'visibility': spinning==true ? 'hidden':'visible'}">
          Congratulations
        </span>
        <div class="spinner" *ngIf="spinning"></div>
      </button>


    </div>

    <div class="footer">
      <p>Creeping you forever with <img src="../../../assets//heart.png" alt=""></p>
    </div>

  </section>

  <section class="formContainer" *ngIf="showGift==true">

    <div class="form" [ngClass]="{'formSuccess':formSuccess==true}">
      <div class="heading">
        <h3 *ngIf="!formSuccess">Really?</h3>
        <h3 *ngIf="formSuccess">
          {{
          answerArray[selectedAnswer].question
          }}
        </h3>
        <img *ngIf="!formSuccess" src="../../../assets/thinking.png" alt="">
      </div>

      <p class="para" *ngIf="!formSuccess">
        {{
          questionArray[selectedQuestion].question
        }}
      </p>
      <p class="para" *ngIf="formSuccess">
        {{
          answerArray[selectedAnswer].answer
        }}
      </p>


      <div class="inputContainer" *ngIf="!formSuccess">
        <input type="text" placeholder="Enter your answer here" #val (keyup.enter)="onSubmit()">
        <span class="placeholder">Think twice!</span>
      </div>

      <img *ngIf="!formSuccess" class="lock" src="../../../assets/lock.png" alt="" (click)="onSubmit()"
        [ngClass]="{'shakelock':shakelock==true}">

      <button *ngIf="formSuccess" (click)="hideGift()">
        Proceed and Next &rarr;
      </button>

    </div>

    <div class="footer">
      <p>Creeping you forever with <img src="../../../assets//heart.png" alt=""></p>
    </div>

  </section>

</section>