<section class="starcontainer">

  <div class="party">
    <h3>Let's get started with the party</h3>
    <h3>Shall We?</h3>
  </div>

  <ng-container *ngFor="let star of stars; index as i">
    <img src="../../../assets/star.png" alt="star" class="star" id={{i}} (click)="show(i)"
      [ngStyle]="{'left': star.left, 'top':star.top, 'width':star.size}">

    <div class="cardBg rightDisplay" [ngStyle]="{'left': star.left, 'top':star.top}" *ngIf="showId == i "
      [ngClass]="{'leftDisplay': i == 7 || i == 2 || i == 23 || i == 5 || i == 28 || i == 6 || i == 1 || i == 3 || i == 18 || i == 17 || i == 7 }">

      <div class="loader"
        [ngClass]="{'loader1': i == 7 || i == 2 || i == 23 || i == 5 || i == 28 || i == 6 || i == 1 || i == 3 || i == 18 || i == 17 || i == 7 }">
        <svg x="0px" y="0px" viewBox="0 0 298 53.9">
          <path class="st0" d="M297.5,41.2h-76.6c-0.5,0-0.9,0.4-1,0.8l-1.6,11.3l-3.1-32c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.3-1,0.8
                               l-5.3,25.5l-2.3-10.9c-0.1-0.4-0.4-0.7-0.9-0.8c-0.4,0-0.8,0.2-1,0.6l-2.3,4.8h-107c0,0,0,0,0,0H82c-1.6,0-2.2,1.1-2.2,1.6
                               l-1.6,11.3l-3.1-52c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.3-1,0.8l-9.3,45.5l-2.3-10.9c-0.1-0.4-0.4-0.7-0.9-0.8c-0.4,0-0.8,0.2-1,0.6
                               l-2.3,4.8H0.5" />
        </svg>
      </div>

      <div class="card">
        <img src={{star.image}} id="img{{i}}" alt="" class="photo" (dblclick)="showPreview(ref)" #ref>
        <div style="display: flex;">
          <p class="heading">{{star.caption}}</p>
          <img id="3" class="camera" src="../../../assets/pin.png" alt=""
            style="width:11px !important; height: 12px !important;">
        </div>
        <p class="para">{{star.message}}</p>


      </div>
    </div>
  </ng-container>


  <img src="../../../assets/rocket.png" alt="rocket" class="rocket" (click)="goRocket()"
    [ngClass]="{'rocketRun':runRocket}">

  <img src="../../../assets/shootingStar.png" alt="heart" class="heart" (click)="goRocket()"
    [ngClass]="{'heartCome':runRocket}">

  <div class="preview" *ngIf="preview">
    <img src="../../../assets/close-24px.svg" alt="" class="cross" (click)="hidePreview()">
    <img src={{imgSrc}} alt="" class="previewImage" (dblclick)="hidePreview()">
    <p class="caption">{{caption}}</p>
    <p class="message">{{message}}</p>
  </div>

</section>