<section class="starcontainer">

  <div class="party">
    <h3>Let's get started with the party</h3>
    <h3>Shall We?</h3>
  </div>

  <ng-container *ngFor="let star of stars; index as i">
    <img src="../../../assets/star.png" alt="star" class="star" id={{i}} (click)="show(i)"
      [ngStyle]="{'left': star.left, 'top':star.top, 'width':star.size}">

    <div class="cardBg rightDisplay" [ngStyle]="{'left': star.left, 'top':star.top}" *ngIf="showId == i "
      [ngClass]="{'leftDisplay': i == 7 || i == 2 || i == 23 || i == 5 || i == 28 || i == 6 || i == 1 || i == 3 || i == 18 || i == 17 || i == 7 }">
      <div class="card">
        <img src={{star.imgage}} id="img{{i}}" alt="" (dblclick)="showPreview(ref)" #ref>
        <p class="heading">{{star.caption}}</p>
        <p class="para">{{star.message}}</p>


      </div>
    </div>
  </ng-container>


  <img src="../../../assets/rocket.png" alt="rocket" class="rocket" (click)="goRocket()"
    [ngClass]="{'rocketRun':runRocket}">

  <img src="../../../assets/shootingStar.png" alt="heart" class="heart" (click)="goRocket()"
    [ngClass]="{'heartCome':runRocket}">

  <div class="preview" *ngIf="preview">
    <img src={{imgSrc}} alt="" (dblclick)="hidePreview()">
    <p class="caption">{{caption}}</p>
    <p class="message">{{message}}</p>
  </div>

</section>