.starcontainer{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#162d37,#274a5a);
    position: relative;
}

.starcontainer .party{
    position: absolute;
    left: 5rem;
    bottom: 35%;
}

.starcontainer h3{
    color: white;
    font-size: 1.6rem;
    margin: 0;
   
}

.star{
    cursor: pointer;
    position: absolute;
    animation: twinkle 5s linear infinite;
}

/* .star:hover{
   

} */

.card{
    position: absolute;
    padding: 0.5rem;
    background-color: white;
    max-width: 11rem;
    border-radius: 3px;
    z-index: 9;
}
.card img{
    width: 10rem;
    border-radius: 3px;
}

/* .card::before{
    content:url('../../../assets/beat.png');
    position: absolute;;
    z-index:100000; 
    left:-50px;
    top:10px;
} */

.card .heading{
    font-size: 1.4rem;
    margin: 0.5rem auto;
}


.card .para{
    margin-top: 0;
}

.rocket{
    width: 4rem;
    top: 73%;
    position: absolute;
    left: 6%;
    cursor: pointer;
}

.rocketRun{
 animation: 3s start ease-in-out ;
 animation-fill-mode: forwards;
}

.heart{
    width: 0;
    top: 17%;
    position: absolute;
    left: 58%;
}

.heartCome{
 animation: 3s come ease-in-out ;
 animation-fill-mode: forwards;
 animation-delay: 2s;
}

@keyframes  start{
    0%{
        width: 4rem;
        top: 73%;
        position: absolute;
        left: 6%;
    }
    100%{
        width: 0;
        top: 17%;
        position: absolute;
        left: 58%;
    }
}
@keyframes  come{
    
    0%{
        width: 0;
        top: 17%;
        position: absolute;
        left: 58%;
        }
        100%{
            width: 4rem;
        }
}




@keyframes twinkle{

0%{
transform: scale(1);
}
30%{
    transform: scale(1.5);
}
60%{
    transform: scale(1);
}
80%{
    transform: scale(1.5);
}
100%{
    transform: scale(1);
}
}

.rightDisplay::before{
    content: url('../../../assets/beatleft.png');
    left: -6.7rem;
    position: absolute;
    top: 0.1rem;
    width: 1.6rem;
    z-index: -1;
}

.rightDisplay{
    margin-left: 8rem;
    margin-top: -1rem;
}

.leftDisplay::before{
    content: url('../../../assets/beatRight.png');
    left: 11rem;
    position: absolute;
    top: 0.1rem;
    width: 1.6rem;
    z-index: -1;
}

.leftDisplay{
    margin-left: -18rem;
    margin-top: -1rem;
}