.videoContainer{
    width: 100%;
    height: calc(100vh + 10rem);
    background-color: #1a1f32;
    padding: 2rem;
    margin: 2rem 0;
}

.videoWrapper{
    width: 100%;
    height: 100%;
    text-align: center;
    height: calc(100% - 4rem);
    
}

.videoWrapper h3{
    font-size: 2rem;
    color: white;
    margin: 2.5rem auto 0.5rem auto;
}

.videoWrapper p{
    color: white;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.imageContainer img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.5rem;
}


/*  */

.videoSection{
    width: 70%;
    height: calc(90% - 8rem);
    margin: auto;
    cursor: pointer;
    position: relative;
}

.videoSection iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 3px;
}

.navigateVideo{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    display: flex;
    /* justify-content: center; */
}

.navigateVideo li, .navigateVideo ul{
    list-style: none;
}

.navigateVideo img{
    width: 5rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    transition: 1s;
    border-radius: 5px;
}
.navigateVideo img:hover{
    width: 6rem;
}