<section class="videoContainer" (click)="light()" data-aos="dark" data-aos-duration="1000" data-aos-offset="650">

  <div class="videoWrapper">
    <h3>Let's get the party running!</h3>

    <section class="videoSection">


      <iframe src="https://www.youtube.com/embed/hXWDyOOQvaE?controls=0&rel=0" title="Morvi Birtday"></iframe>

      <!-- <video class="video" controls poster="http://www.webestools.com/page/media/videoTag/BigBuckBunny.png" preload>
        <source src="https://res.cloudinary.com/dz25nxnkr/video/upload/v1593882534/samples/sea-turtle.mp4"
          type="video/mp4">
      </video> -->

      <!-- <ul class="navigateVideo">
        <li (click)="changeVideo(0)"><img src="../../../assets/videoImage1.jpg" alt=""></li>
        <li (click)="changeVideo(1)"><img src="../../../assets/videoImage2.jpg" alt=""></li>
        <li (click)="changeVideo(2)"><img src="../../../assets/videoImage3.jpg" alt=""></li>
      </ul> -->
    </section>




    <p>One of the easiest ways to convey emotion is through video. Many highly shared videos rely heavily on emotional
      content, because it works! 😊</p>
    <div class="imageContainer">
      <img src="../../../assets/demo1.jpg" alt="">
      <img src="../../../assets/demo2.jpg" alt="">
      <img src="../../../assets/demo3.jpg" alt="">
      <img src="../../../assets/demo4.jpg" alt="">
      <img src="../../../assets/demo5.jpg" alt="">
      <img src="../../../assets/demo6.jpg" alt="">
    </div>
  </div>

  <!-- <img src="../../../assets/keyboard_arrow_right-24px.svg" alt="" class="next" (click)="changeVideo(1)"> -->


</section>