<section class="videoContainer">

  <div class="videoWrapper">
    <h3>Let's get the party running!</h3>

    <section class="videoSection">
      <iframe src="https://www.youtube.com/embed/1TTDR1mkWLY?controls=0&rel=0" #video>
      </iframe>

      <ul class="navigateVideo">
        <li (click)="changeVideo(0)"><img src="../../../assets/videoImage1.jpg" alt=""></li>
        <li (click)="changeVideo(1)"><img src="../../../assets/videoImage2.jpg" alt=""></li>
        <!-- <li (click)="changeVideo(2)"><img src="../../../assets/videoImage3.jpg" alt=""></li> -->
      </ul>
    </section>




    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, aliquam ad error dolorum quam quibusdam voluptas
      reprehenderit ducimus deserunt eligendi, laudantium dicta dignissimos ipsa, amet consectetur ullam voluptatum in
      voluptatem possimus! Nihil, porro.</p>
    <div class="imageContainer">
      <img src="../../../assets/demo1.jpg" alt="">
      <img src="../../../assets/demo2.jpg" alt="">
      <img src="../../../assets/demo3.jpg" alt="">
      <img src="../../../assets/demo4.jpg" alt="">
      <img src="../../../assets/demo5.jpg" alt="">
      <img src="../../../assets/demo6.jpg" alt="">
    </div>
  </div>

  <img src="../../../assets/star.png" alt="" class="next" (click)="changeVideo(1)">


</section>