<section class="profileContainer">
  <section class="profileImg">
    <img src="https://res.cloudinary.com/dz25nxnkr/image/upload/v1593883937/birthday/Mask_Group_10_vnfyew.png"
      alt="profile" class="mainProfile">

    <div class="profileDesc">
      <h3>Happy Birthday, Morvi <img src="../../../assets//heart.png" alt="" class="heart"></h3>
      <p>
        Hey Morvi! Hurray!! We are here to celebrate this auspicious day - Your Birthday with you.
        Excited??
        Well, we didn't want your memories to fade away!And so they have been embarked here forever. 
        Enjoy Your Journey!! Keep exploring ;)
      </p>
    </div>

  </section>
</section>

<section class="profileCollage">

  <div class="profilePics">
    <div class="picDiv1">
      <img src="../../../assets/pic1.PNG" alt="">
      <h3>Throwback ho jaye thoda!</h3>
      <p class="para1">Guess from where these pictures are from?</p>
      <p class="para2">Your Instagram</p>
      <p class="para3">Someone has been spying on your stories !!</p>
    </div>
    <div class="picDiv2">
      <img src="../../../assets/pic2.PNG" alt="">
    </div>
    <div class="picDiv3">
      <img src="../../../assets/pic3.PNG" alt="">
    </div>
  </div>


  <div class="profileCollageBackground">
    <div class="dark"></div>
    <div class="light"></div>
  </div>

  <img src="../../../assets/unnamed.png" class="unnamed" alt="">
</section>