.pyro{
  z-index: 4;
}
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 187px -38.6666666667px #fbff00, 105px 50.3333333333px #00ff15, 119px 28.3333333333px #c8ff00, -132px -146.6666666667px #ff002b, 171px -287.6666666667px #11ff00, 177px -415.6666666667px #0033ff, -123px -216.6666666667px #ff0033, -235px -181.6666666667px #ff0d00, 29px -368.6666666667px #ff0088, -37px -79.6666666667px yellow, -67px 69.3333333333px #ff0037, -57px -76.6666666667px #a200ff, 23px -40.6666666667px #00ffd9, -143px -298.6666666667px #ff5900, 26px 62.3333333333px #009dff, -111px 30.3333333333px #ff00dd, 246px -232.6666666667px #6f00ff, 53px -269.6666666667px #0084ff, 82px -75.6666666667px #bb00ff, 31px -210.6666666667px #d9ff00, 161px 52.3333333333px #00fff2, 165px -86.6666666667px #00ff55, -119px -337.6666666667px #00ff5e, -111px -373.6666666667px #00ffc4, -130px -268.6666666667px #0091ff, 165px -322.6666666667px #a2ff00, -171px -212.6666666667px #fff700, -124px -363.6666666667px #37ff00, -117px -258.6666666667px #00ff7b, 5px -309.6666666667px #00b3ff, 56px -92.6666666667px #ff000d, 110px -392.6666666667px #a200ff, 242px -21.6666666667px #00ddff, -71px -69.6666666667px #00fffb, -132px 23.3333333333px #ff2b00, 230px -21.6666666667px #00ff55, -26px 11.3333333333px #0015ff, -96px -323.6666666667px #0033ff, 102px -279.6666666667px #7b00ff, -74px 64.3333333333px #d9ff00, -107px -172.6666666667px #ffb300, 49px -136.6666666667px #e1ff00, 179px -174.6666666667px #ff5100, -235px -60.6666666667px #00ff99, 5px -53.6666666667px #ff1e00, 191px 10.3333333333px #ff7300, 184px 26.3333333333px #ff00d0, 100px -382.6666666667px #ffee00, -103px -368.6666666667px #ff0099, 121px -58.6666666667px #1eff00, -199px 81.3333333333px #6600ff;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 187px -38.6666666667px #fbff00, 105px 50.3333333333px #00ff15, 119px 28.3333333333px #c8ff00, -132px -146.6666666667px #ff002b, 171px -287.6666666667px #11ff00, 177px -415.6666666667px #0033ff, -123px -216.6666666667px #ff0033, -235px -181.6666666667px #ff0d00, 29px -368.6666666667px #ff0088, -37px -79.6666666667px yellow, -67px 69.3333333333px #ff0037, -57px -76.6666666667px #a200ff, 23px -40.6666666667px #00ffd9, -143px -298.6666666667px #ff5900, 26px 62.3333333333px #009dff, -111px 30.3333333333px #ff00dd, 246px -232.6666666667px #6f00ff, 53px -269.6666666667px #0084ff, 82px -75.6666666667px #bb00ff, 31px -210.6666666667px #d9ff00, 161px 52.3333333333px #00fff2, 165px -86.6666666667px #00ff55, -119px -337.6666666667px #00ff5e, -111px -373.6666666667px #00ffc4, -130px -268.6666666667px #0091ff, 165px -322.6666666667px #a2ff00, -171px -212.6666666667px #fff700, -124px -363.6666666667px #37ff00, -117px -258.6666666667px #00ff7b, 5px -309.6666666667px #00b3ff, 56px -92.6666666667px #ff000d, 110px -392.6666666667px #a200ff, 242px -21.6666666667px #00ddff, -71px -69.6666666667px #00fffb, -132px 23.3333333333px #ff2b00, 230px -21.6666666667px #00ff55, -26px 11.3333333333px #0015ff, -96px -323.6666666667px #0033ff, 102px -279.6666666667px #7b00ff, -74px 64.3333333333px #d9ff00, -107px -172.6666666667px #ffb300, 49px -136.6666666667px #e1ff00, 179px -174.6666666667px #ff5100, -235px -60.6666666667px #00ff99, 5px -53.6666666667px #ff1e00, 191px 10.3333333333px #ff7300, 184px 26.3333333333px #ff00d0, 100px -382.6666666667px #ffee00, -103px -368.6666666667px #ff0099, 121px -58.6666666667px #1eff00, -199px 81.3333333333px #6600ff;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 187px -38.6666666667px #fbff00, 105px 50.3333333333px #00ff15, 119px 28.3333333333px #c8ff00, -132px -146.6666666667px #ff002b, 171px -287.6666666667px #11ff00, 177px -415.6666666667px #0033ff, -123px -216.6666666667px #ff0033, -235px -181.6666666667px #ff0d00, 29px -368.6666666667px #ff0088, -37px -79.6666666667px yellow, -67px 69.3333333333px #ff0037, -57px -76.6666666667px #a200ff, 23px -40.6666666667px #00ffd9, -143px -298.6666666667px #ff5900, 26px 62.3333333333px #009dff, -111px 30.3333333333px #ff00dd, 246px -232.6666666667px #6f00ff, 53px -269.6666666667px #0084ff, 82px -75.6666666667px #bb00ff, 31px -210.6666666667px #d9ff00, 161px 52.3333333333px #00fff2, 165px -86.6666666667px #00ff55, -119px -337.6666666667px #00ff5e, -111px -373.6666666667px #00ffc4, -130px -268.6666666667px #0091ff, 165px -322.6666666667px #a2ff00, -171px -212.6666666667px #fff700, -124px -363.6666666667px #37ff00, -117px -258.6666666667px #00ff7b, 5px -309.6666666667px #00b3ff, 56px -92.6666666667px #ff000d, 110px -392.6666666667px #a200ff, 242px -21.6666666667px #00ddff, -71px -69.6666666667px #00fffb, -132px 23.3333333333px #ff2b00, 230px -21.6666666667px #00ff55, -26px 11.3333333333px #0015ff, -96px -323.6666666667px #0033ff, 102px -279.6666666667px #7b00ff, -74px 64.3333333333px #d9ff00, -107px -172.6666666667px #ffb300, 49px -136.6666666667px #e1ff00, 179px -174.6666666667px #ff5100, -235px -60.6666666667px #00ff99, 5px -53.6666666667px #ff1e00, 191px 10.3333333333px #ff7300, 184px 26.3333333333px #ff00d0, 100px -382.6666666667px #ffee00, -103px -368.6666666667px #ff0099, 121px -58.6666666667px #1eff00, -199px 81.3333333333px #6600ff;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 187px -38.6666666667px #fbff00, 105px 50.3333333333px #00ff15, 119px 28.3333333333px #c8ff00, -132px -146.6666666667px #ff002b, 171px -287.6666666667px #11ff00, 177px -415.6666666667px #0033ff, -123px -216.6666666667px #ff0033, -235px -181.6666666667px #ff0d00, 29px -368.6666666667px #ff0088, -37px -79.6666666667px yellow, -67px 69.3333333333px #ff0037, -57px -76.6666666667px #a200ff, 23px -40.6666666667px #00ffd9, -143px -298.6666666667px #ff5900, 26px 62.3333333333px #009dff, -111px 30.3333333333px #ff00dd, 246px -232.6666666667px #6f00ff, 53px -269.6666666667px #0084ff, 82px -75.6666666667px #bb00ff, 31px -210.6666666667px #d9ff00, 161px 52.3333333333px #00fff2, 165px -86.6666666667px #00ff55, -119px -337.6666666667px #00ff5e, -111px -373.6666666667px #00ffc4, -130px -268.6666666667px #0091ff, 165px -322.6666666667px #a2ff00, -171px -212.6666666667px #fff700, -124px -363.6666666667px #37ff00, -117px -258.6666666667px #00ff7b, 5px -309.6666666667px #00b3ff, 56px -92.6666666667px #ff000d, 110px -392.6666666667px #a200ff, 242px -21.6666666667px #00ddff, -71px -69.6666666667px #00fffb, -132px 23.3333333333px #ff2b00, 230px -21.6666666667px #00ff55, -26px 11.3333333333px #0015ff, -96px -323.6666666667px #0033ff, 102px -279.6666666667px #7b00ff, -74px 64.3333333333px #d9ff00, -107px -172.6666666667px #ffb300, 49px -136.6666666667px #e1ff00, 179px -174.6666666667px #ff5100, -235px -60.6666666667px #00ff99, 5px -53.6666666667px #ff1e00, 191px 10.3333333333px #ff7300, 184px 26.3333333333px #ff00d0, 100px -382.6666666667px #ffee00, -103px -368.6666666667px #ff0099, 121px -58.6666666667px #1eff00, -199px 81.3333333333px #6600ff;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 187px -38.6666666667px #fbff00, 105px 50.3333333333px #00ff15, 119px 28.3333333333px #c8ff00, -132px -146.6666666667px #ff002b, 171px -287.6666666667px #11ff00, 177px -415.6666666667px #0033ff, -123px -216.6666666667px #ff0033, -235px -181.6666666667px #ff0d00, 29px -368.6666666667px #ff0088, -37px -79.6666666667px yellow, -67px 69.3333333333px #ff0037, -57px -76.6666666667px #a200ff, 23px -40.6666666667px #00ffd9, -143px -298.6666666667px #ff5900, 26px 62.3333333333px #009dff, -111px 30.3333333333px #ff00dd, 246px -232.6666666667px #6f00ff, 53px -269.6666666667px #0084ff, 82px -75.6666666667px #bb00ff, 31px -210.6666666667px #d9ff00, 161px 52.3333333333px #00fff2, 165px -86.6666666667px #00ff55, -119px -337.6666666667px #00ff5e, -111px -373.6666666667px #00ffc4, -130px -268.6666666667px #0091ff, 165px -322.6666666667px #a2ff00, -171px -212.6666666667px #fff700, -124px -363.6666666667px #37ff00, -117px -258.6666666667px #00ff7b, 5px -309.6666666667px #00b3ff, 56px -92.6666666667px #ff000d, 110px -392.6666666667px #a200ff, 242px -21.6666666667px #00ddff, -71px -69.6666666667px #00fffb, -132px 23.3333333333px #ff2b00, 230px -21.6666666667px #00ff55, -26px 11.3333333333px #0015ff, -96px -323.6666666667px #0033ff, 102px -279.6666666667px #7b00ff, -74px 64.3333333333px #d9ff00, -107px -172.6666666667px #ffb300, 49px -136.6666666667px #e1ff00, 179px -174.6666666667px #ff5100, -235px -60.6666666667px #00ff99, 5px -53.6666666667px #ff1e00, 191px 10.3333333333px #ff7300, 184px 26.3333333333px #ff00d0, 100px -382.6666666667px #ffee00, -103px -368.6666666667px #ff0099, 121px -58.6666666667px #1eff00, -199px 81.3333333333px #6600ff;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  