.background {
    height: 100vh;
    background-image: url("../../assets/wall.png");
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.login-card {
    /* background:radial-gradient(ellipse, #1B5A71, #0E2D39); */
    text-align: center;
    border-radius: 25px;
    background: #EFF7F8;
    box-shadow: -10px 30px 50px 0px rgba(28,29,29,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    margin-left: 5rem;
}

.login-card button{
    margin: 0 auto;
}


@media only screen and (max-width: 700px) {
    .background{
        justify-content: center;
    }
    .login-card {
      margin: auto;
    }
  }
