<div class="background">
  <mat-card class="login-card">
    <h2 class="login-card-text">Prove Your Identity</h2>

    <img src="assets/zang.png" width="100%">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <mat-icon matSuffix>face</mat-icon>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>lock</mat-icon>
      <input matInput formControlName="password">
    </mat-form-field>

    <button mat-icon-button>
      <mat-icon style="transform: scale(3);" svgIcon="login_icon"></mat-icon>
    </button>

  </mat-card>


</div>