/* You can add global styles to this file, and also import other style files */

html,body { margin: 0; font-family: 'Avenir', "Helvetica Neue", sans-serif;    box-sizing: border-box; }
* {
    font-family : 'Avenir', sans-serif;
    box-sizing: border-box;
}
/* 
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
input.mat-input-element {
    color: white;
  }
.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: white;
  } */