/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    font-family : 'Avenir';
}
/* 
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
input.mat-input-element {
    color: white;
  }
.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: white;
  } */